!!!
%html{:lang => "ja"}
  %head
    %title= @title
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://bootswatch.com/4/cosmo/bootstrap.min.css"}
  %body
    %h1 #{@title}

    %form{:method => "POST", :action => '/login'}
      %input{:type => "hidden", :name => "_method", :value => "POST"}
      %input{:type => "text", :name => "name", :placeholder => "name"}
      %input{:type => "password", :name => "password", :placeholder => "password"}
      %input{:type => "submit"}
